<div>
  <p>
    Animais de Rua is a non profit organization which rescue animals in the streets.
    They were in need of a platform to manage every process related to the animal
    collecting and treatment. I was glad I could help, I created their back office
    from scratch using <tag>Laravel</tag>, it's all open source on
    <a href="//github.com/animais-de-rua">github.com/animais-de-rua</a>, it's a huge project with tons of
    entities and relations between them and a lot of different permissions for users.
  </p>
</div>
<div>
  <p>Later on I end up also creating their website, which is fed with data from the
    back office. The website is also a webapp, since I had the time, I created
    everything from scratch with no frameworks, just <tag>Vanilla JS</tag>,
    it's just 14K of <tag>JS</tag> + <tag>CSS</tag>, everything is cached and shown instantly to the user.
    Google <tag>Lighthouse</tag> score is near 100%, I tried to apply the best
    principles and the most recent web methodologies.
  </p>
  <p>
    I've been collaborating with them since then, there's always some fixes and
    adjustments to make the platform better.
  </p>
</div>