<div>
  <p>
    Backpack for <tag>Laravel</tag> is an <em>Open Source</em>
    <tag>PHP</tag> project maintained by Cristian Tabacitu,
    it makes any developer's life easy by speeding up <tag>CRUD</tag> development.
  </p>
  <p>
    There's a great community around this project and I'm glad to be part of the
    organization and <em>contribute</em> with code and ideas. You can find it at
    <a href="//github.com/Laravel-Backpack/CRUD">github.com/Laravel-Backpack/CRUD</a>.
  </p>
</div>