<div>
  <p>
    I love coding challenges, and I've done plenty of them on websites like
    <a target="_blank" href="//hackerrank.com/promatik">hackerrank</a>,
    <a target="_blank" href="//app.codesignal.com/profile/promatik">codesignal</a> and
    <a target="_blank" href="//codecademy.com/profiles/promatik">codecademy</a>.
    The most exciting for me are <tag>code golf</tag> challenges, where you have
    to find a solution with the minimum amount of bytes/chars.
  </p>
</div>
<div>
  <p>
    One of these challenges was to create a <tag>BrainFck</tag> compiler,
    <tag>BrainFck</tag> is an <tag>esoteric</tag> coding language made of 8 chars
    only, <code>&gt;&lt;+-.,[]</code>. The language itself is crazy difficult,
    creating a compiler for it was even harder.
  </p>
</div>