<div>
  <p>
    This was my first job, I was mainly a web developer and learned more in a few months than I ever expected.
    I learned <tag>Ruby on Rails</tag>, <tag>PHP</tag>, <tag>JavaScript</tag> and many concepts of <tag>GIS</tag>
    (Geographic information systems), I was able to improve my knowledge a lot.
  </p>
  <p>
    I've collaborated on a few projects, but I was able to build many others on my own. <em>B-Around Map</em>
    was probably the biggest challenge I faced, it's a library that lets you add a map module to a page
    (a Google Maps with its own layout).
  </p>
</div>
<div>
  <p>
    I was also the main developer for other projects, <em>Creative Bitbox</em> website using <tag>PHP</tag>
    and a lot of <tag>jQuery</tag> and <em>Inova Gaia</em> website using <tag>Ruby on Rails</tag> and also <tag>jQuery</tag>
    (popular at that time).
  </p>
</div>