<div>
  <p>
    Firefox 3.5 Mac OS theme was during several months, in the <em>top 5</em> most used Firefox themes in the world,
    with almost <em>2M downloads</em>, and <em>150k daily users</em>. At this time, I didn't know how to code,
    so this theme was created, once again, mostly trial error.
  </p>
  <p style="margin-bottom: 0;">
    I started to create the theme for myself because I liked customization, I was used to create themes
    for my Nokia phones <i>(I used paint to draw the images btw)</i>.
  </p>
</div>
<div>
  <p style="margin-top: 0;">
    One day I decided to publish the theme,
    and boom, people started to use it, a lot, I even had a chinese person asking me to create special
    version of the theme with bigger font size due to the chinese characters.
  </p>
</div>