<div>
  <p>
    By working at GEMA I've been developing with many technologies, in many places,
    mostly for Portugal, but also Greece and Brazil, with projects all around the world.
  </p>
  <p>
    I've been doing mostly <tag>Laravel PHP</tag> backend and API, <tag>Node JS</tag> apps,
    <tag>Javascript</tag> WebApps, <tag>Java</tag> socket servers, <tag>Unix</tag>
    server management, <tag>MySQL</tag> and <tag>Redis</tag> Databases, some <tag>Python</tag>
    scripting and <tag>Arduino</tag>.
  </p>
  <p>Some installations you may heard about:</p>
</div>
<div>
  <ul>
    <li><em>World of Wine </em>(Oporto, PT)</li>
    <li><em>Pelé Museum</em> (So Paulo, Brasil)</li>
    <li><em>World of discoveries</em> (Oporto, PT)</li>
    <li><em>Chocolate Factory</em> (Viana do Castelo, PT)</li>
    <li><em>FIFA</em> U-20 World Cup (Turkey)</li>
    <li><em>Filda '13 & '14 </em>(Angola)</li>
  </ul>
  <p>Some of the most challenging projects:</p>
  <ul>
    <li><em>Unicredit</em> UEFA Champions League Final (Augmented reality Android app)</li>
    <li><em>Benfica Tours </em>(Augmented reality tour around the stadium)</li>
    <li><em>Rock In Rio '14</em> - Santa Casa (Mobile game)</li>
    <li><em>Filda </em>- Total / Esso / Chevron / Viv / Sonangol / Total / Zap (Mobile apps and games)</li>
    <li><em>Penalty Quiz</em> (iOS/Android game)</li>
    <li><em>Footy Quiz</em> (iOS/Android game)</li>
    <li><em>XPlora</em> (Augmented reality mobile app)</li>
    <li><em>OneCore</em> (Node JS app, with an webapp to control devices on Gema installations)</li>
    <li><em>MOSS</em> (Java multiplayer socket server)</li>
    <li><em>Comédia à la Carte</em> (Interactive webapp for their shows)</li>
  </ul>

  <p>
    Among many others like Casa do Cinema Manoel de Oliveira, Embratur, Pepsi, Angolauto,
    Amazonas, Seat, Nespresso and many GEMA own projects.
  </p>
</div>