<div>
  <p>
    I've been contributing on Github for some open source projects for several years,
    everytime I use some package lacking a feature or having a bug, I tend to open a
    Pull Request to fix that.
  </p>
  <p>
    The Arctic Code Vault purpose is to conserve the best open-source projects for
    future generations by storing them in an archive and save it for a thousand years
    in a vault located in Svalbard, Norway.
  </p>
</div>
<div>
  <p>
    Some of my contributions led me to the Arctic Code Vault Contributor badge.
    Maybe you know some of the projects I've contributed too;
  <ul>
    <li><a href="//github.com/Laravel-Backpack/CRUD">Laravel-Backpack/CRUD</a></li>
    <li><a href="//github.com/milligram/milligram">milligram/milligram</a></li>
    <li><a href="//github.com/fzaninotto/Faker">fzaninotto/Faker</a></li>
    <li><a href="//github.com/google/libphonenumber">google/libphonenumber</a></li>
    <li><a href="//github.com/jeremyh/jBCrypt">jeremyh/jBCrypt</a></li>
    <li><a href="//github.com/TooTallNate/Java-WebSocket">TooTallNate/Java-WebSocket</a></li>
    <li><a href="//github.com/stleary/JSON-java">stleary/JSON-java</a></li>
  </ul>
  Among others.
  </p>
</div>