<div>
  <p>
    At Immera I lead the development team while staying hands-on, building
    purpose-built technology for organisations.
  </p>
  <p>
    Mostly <tag>Laravel PHP</tag> backends, <tag>Node.js</tag> services and
    responsive <tag>JavaScript</tag> / <tag>Vue.js</tag> frontends, for web
    platforms and interactive installations.
  </p>
  <p>Some projects you may have heard about:</p>
</div>
<div>
  <ul>
    <li><em>Brightnow</em> (my.brightnow.app)</li>
    <li><em>Vine and Wine</em> (vinewineplatform.com)</li>
    <li><em>APRAM</em> (apram.pt)</li>
    <li><em>Spotify</em> (Sensoring installation)</li>
    <li><em>Bairros Digitais</em> (setubalconnect.pt)</li>
    <li><em>Santa Casa</em></li>
    <li><em>Comédia à la Carte</em> (Interactive webapp for their shows)</li>
    <li><em>Super Bock</em></li>
  </ul>
</div>
