<div>
  <p>
    I'm graduated as a <em>Graphic Computation Engineer</em> on Instituto Politécnico de Viana do Castelo.
    I proudly got the Ministry of Education <em>Merit Award</em> in 2011, for finishing with the highest
    average of the institution that year.
  </p>
  <p>
    I learned a lot during these 3 years, some of my projects were a queue waiting simulation, in <tag>C++</tag>,
    a multiplayer Bingo game in <tag>AS3</tag> with a <tag>C#</tag> socket server, or a Tank missile game in
    <tag>OpenGL</tag>, among many others.
  </p>
</div>
<div>
  <p>
    Some of the most important concepts in my graduation were;
  <ul>
    <li>Algorithms and data structures</li>
    <li>Mathematics for graphic computation</li>
    <li>3D Programming</li>
    <li>Databases</li>
    <li>Networks</li>
    <li>Graphic Computation</li>
    <li>3D Modeling</li>
    <li>Geographic information systems (GIS)</li>
  </ul>
  </p>
</div>