<div class="item on">
  <div class="front">
    <div class="header">
      <img class="logo" alt="logo" width="42" height="42" sizes="42px" srcset="
                  /img/logos/{{ logo }}-48.png 48w,
                  /img/logos/{{ logo }}-96.png 96w
                " loading="lazy" title="logo" />
      <h1>{{ title }}</h1>
      <p class="date" start="{{ date[0] }}" end="{{ date[1] ? date[1] : ''}}"></p>
    </div>
    <hr />
    <div class="read">
      <include src="views/timeline/{{ slug }}.html"></include>
    </div>
  </div>
  <div class="back"></div>
</div>