<div>
  <p>
    I started to code on TI 84 calculator back in 2005, at that time I was far to
    know one day I would create a whole <tag>3D engine</tag> on it.
  </p>
  <p>
    This was one of the most challenging things I've done in my life. Ti 84 graphics are basic,
    it's a screen of 96×64 pixels, 24Kb RAM and 480Kb ROM, not to mention the language, <tag>Basic</tag>.
  </p>
</div>
<div>
  <p>
    With these specs, I was able to create an engine to, first, create <tag>3D models</tag>,
    draw them and apply operations like scale and rotation, and even change the perspective of the camera.
  </p>
  <p>
    I spent countless hours, mostly while going back home on weekends after university.
  </p>
</div>