<div>
  <p>
    I started to code on a TI 84 calculator back in 2005, at the time I had no idea
    that one day I would create a whole <tag>3D engine</tag> on it.
  </p>
  <p>
    This was one of the most challenging things I've done in my life. The TI 84's graphics are basic:
    a 96×64 pixel screen, 24 KB of RAM and 480 KB of ROM, not to mention the language, <tag>Basic</tag>.
  </p>
</div>
<div>
  <p>
    With these specs, I was able to create an engine to, first, create <tag>3D models</tag>,
    draw them and apply operations like scale and rotation, and even change the perspective of the camera.
  </p>
  <p>
    I spent countless hours, mostly while going back home on weekends after university.
  </p>
</div>