<div>
  <p>
    This was the very beginning of my developer career, I was in middle school when I started
    to type some instructions on my TI 84 calculator. At that time I didn't even know I was
    programming and it was mostly trial and error.
  </p>
  <p>
    Later on I started to acknowledge more and more and I started to code simple scripts to solve
    the daily new subjects in math classes. Like second degree equations formula, or trigonometric
    formulas to solve angles and triangle side sizes.
  </p>
</div>
<div>
  <p>
    It was, above everything, much fun, the thrill of feeling I could handle the computational
    power of the calculator in my favor to produce the data I need.
  </p>
</div>