<div>
  <p>
    This was the very beginning of my developer career, I was in middle school when I started
    to type some instructions on my TI 84 calculator. At that time I didn't even know I was
    programming and it was mostly trial and error.
  </p>
  <p>
    Later on I started to understand more and more, and I began coding simple scripts to solve
    the new topics we covered each day in math class. Like the formula for second-degree equations, or trigonometric
    formulas to work out angles and triangle side lengths.
  </p>
</div>
<div>
  <p>
    It was, above all, a lot of fun, the thrill of feeling I could harness the calculator's
    computational power to produce the data I needed.
  </p>
</div>