<div>
  <p>
    I've been working as a freelancer for a long time, I've made some <tag>PHP</tag> <em>Websites</em>,
    like Wood Prestige, Web Sinus, DAM. A lot <tag>Android</tag> <em>mobile games</em> and <tag>Web</tag>
    and <tag>Android</tag> <em>brand activation apps</em> for some famous brands like Água das Pedras,
    Clinical Lab, DGS, Lidl, MEO, Navigator, Federação Portuguesa de Futebol, OK estudante and Santa Casa.
  </p>
  <p>
    The biggest challenge was an <em>Ad management system</em> for Tabaqueira, the biggest Portuguese tobacco company,
    it was a <tag>CakePHP</tag> backend to remote control ads displayed on all-in-one <tag>Android</tag> displays,
    almost every tobacco seller in the country used it.
  </p>
</div>