<div class="icons color s03">
  <each loop="item in [
    {
      icon: 'mail',
      label: 'E-Mail',
      href: 'mailto:promatik@gmail.com'
    },
    {
      icon: 'github',
      label: 'Github',
      href: '//github.com/promatik'
    },
    {
      icon: 'stackoverflow',
      label: 'Stackoverflow',
      href: '//stackoverflow.com/users/1192479/promatik'
    },
    {
      icon: 'hackerrank',
      label: 'Hackerrank',
      href: '//hackerrank.com/promatik'
    },
    {
      icon: 'codesignal',
      label: 'Codesignal',
      href: '//app.codesignal.com/profile/promatik'
    },
    {
      icon: 'codersrank',
      label: 'CodersRank',
      href: '//profile.codersrank.io/user/promatik/'
    }
  ]">
    <a target="_blank" href="{{ item.href }}" rel="noopener">
      <div class="icon color g03 link" role="button" aria-label="{{ item.label }}">
        <svg>
          <use xlink:href="#icon-{{ item.icon }}"></use>
        </svg>
      </div>
      <span>{{ item.label }}</span>
    </a>
  </each>
</div>

<div class="copy">
  <span>Made by promatik</span>
  <span>/</span>
  <a href="//github.com/promatik/promatik.pt" class="color c03" target="_blank" rel="noopener">
    <span>View source</span>
  </a>
</div>