<div id="timeline" class="timeline color s02">
  <h1>Timeline</h1>
  <div class="row">
    <div class="line">
      <div class="blob color b02"></div>
      <div class="dots"></div>
    </div>

    <div class="grid">
      <include src="views/timeline/template.html" locals='{
        "title": "Animais de Rua Volunteer",
        "slug": "animais-de-rua",
        "logo": "animais-de-rua",
        "date": ["2018/06"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "Gema Digital",
        "slug": "gema-digital",
        "logo": "gema-digital",
        "date": ["2013/06"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "Backpack for Laravel",
        "slug": "backpack-for-laravel",
        "logo": "backpack-for-laravel",
        "date": ["2017/06"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "Github",
        "slug": "github",
        "logo": "github",
        "date": ["2013/02"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "BrainFck Compiler",
        "slug": "brainfck",
        "logo": "brainfck",
        "date": ["2017/06", "2017/06"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "Stackoverflow - First 100 answer",
        "slug": "stackoverflow",
        "logo": "stackoverflow",
        "date": ["2014/02", "2014/02"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "Better Image Viewer",
        "slug": "better-image-viewer",
        "logo": "better-image-viewer",
        "date": ["2013/04", "2019/08"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "Web Developer Freelancer",
        "slug": "web-dev",
        "logo": "web-dev",
        "date": ["2013/02"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "Creative Bitbox",
        "slug": "creative-bit-box",
        "logo": "creative-bit-box",
        "date": ["2011/09", "2013/01"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "TI 84 3D Engine",
        "slug": "ti-84-3d-engine",
        "logo": "ti-84",
        "date": ["2011/03", "2011/05"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "University",
        "slug": "ipvc",
        "logo": "ipvc",
        "date": ["2008/09", "2011/06"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "Firefox Mac OS Theme",
        "slug": "firefox",
        "logo": "firefox",
        "date": ["2008/04", "2008/04"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "TI 84",
        "slug": "ti-84",
        "logo": "ti-84",
        "date": ["2005/10", "2008/09"]
      }'></include>
    </div>
  </div>
  <div class="row">
    <div class="column-80 column-offset-10 epoch-born">
      <p>
        I was born <em>616 808 700</em> seconds after UNIX Epoch,
        <br />it's been a great journey of
        <em><span id="elapsed">000 000 000</span></em> seconds since then.
      </p>
    </div>
  </div>
</div>