<div class="story color s01 read">
  <div>
    <h1>About me</h1>
    <p>
      I started to code in middle school with my
      <em>Texas Instruments 84</em> calculator, back in <em>2004</em>.
      <br />I didn't know what I was doing, it was mostly trial and error,
      trying to print something on the screen. <br />My life changed when
      I discovered the TI-Basic Programming Guide
      <i>(yes, the documentation)</i>.
    </p>
    <p>
      Since then, and a degree later, I've been doing a bit of everything!
      I can code in several languages, for multiple platforms, web apps, mobile
      games, desktop/mobile interactive apps, interactive solutions with Arduino,
      browser extensions, web with PHP, <em>Laravel</em>, <em>Javascript</em>,
    </p>
  </div>
  <div>
    <p>
      <em>Vue.js</em>, I have some projects on
      GitHub, mainly <em>Java</em>, <em>PHP</em> and
      <em>Javascript</em> and I've collaborated for a variety of open
      source projects, from a <em>Laravel CMS</em> to a
      <em>Java WebSocket server</em>.
    </p>
    <p>
      My knowledge extends for many languages such as <em>C</em>, <em>C++</em>,
      <em>C#</em>, <em>Perl</em>, <em>Python</em>, I got them mainly from
      <em>online challenges</em>. <br />I also like a lot of things
      related to coding, like <em>code golf</em> (ES6 gave it a huge
      boost) or <em>regex</em>, I can't even describe how useful regex is
      on a daily basis.
    </p>

    <p>
      For the last couple of years I worked on some huge projects like
      the <em>World of Wine</em> in Porto, the <em>Pelé Museum</em> in <em>Brazil</em>,
      I was there for a month and it was an incredible experience.
      I was in <em>Greece</em> with amazing Greek and Russian teams for 2 months,
      working on a Java server for a mobile multiplayer game. I also worked at the
      <em>World of Discoveries</em> at <em>Porto</em>,
      <em>UEFA Champions League Final</em> and
      <em>SLBenfica Stadium</em> at <em>Lisbon</em> and <em>many others</em>,
      <i>scroll down a bit more to get to know a bit more</i>.
    </p>
  </div>
</div>