<div id="stats" class="stats color s01">
  <h1>Stats</h1>
  <p>
    I've been passionate about <em>statistics</em> from an early age —
    spreadsheets are one of my hobbies! <br />Here are some cool stats
    about me. <i>(updated in real time)</i>
  </p>
  <div class="grid">
    <each loop="item in ['github', 'stackoverflow', 'car', 'airplane', 'map', 'profile']">
      <div data="{{ item }}">
        <div>
          <svg class="icon">
            <use xlink:href="#icon-{{ item }}"></use>
          </svg>
          <div class="loading"></div>
          <p style="opacity: 0;">

            <switch expression="item">
              <case n="'stackoverflow'">
                I have <em>10193</em> reputation points on <a href="//stackoverflow.com/users/1192479/promatik" target="_blank">Stack Overflow</a> — <em>8</em> gold badges,
                <em>63</em> silver and <em>71</em> bronze. In fact, I was there <em>some minutes ago</em>.
              </case>

              <case n="'github'">
                On <a href="//github.com/promatik" target="_blank">GitHub</a>, my work has been starred <em>168</em> times and forked
                <em>66</em>, all spread across <em>61</em> public repos and
                <em>13</em> gists. <br />
                I'm part of <em>5</em> organizations.
              </case>

              <case n="'car'">
                I've driven <em>294 405</em> km, <br />spending a total of
                <em>4 748</em> hours behind the wheel, almost <em>1.47</em>% of my life.
              </case>

              <case n="'airplane'">
                I've flown <em>422 404</em> km across <em>208</em> flights, <br />
                visiting <em>46</em> different countries, <em>4</em> continents and
                <em>99+</em> islands, in both hemispheres.
                Fun fact? I also love crossing land borders — <em>20</em> so far!
              </case>

              <case n="'map'">
                While I've spent most of my life in Portugal, exactly
                <em>12 321</em> days, <br />
                I've been abroad for <em>1 168</em> days, nearly <em>8.66</em>% of my
                life, between work and travel.
              </case>

              <case n="'profile'">
                So far, I've spent <em>34.50</em>% of my life sleeping,
                <em>7.78</em>% eating, <em>9.17</em>% working, <em>5.16</em>%
                studying, <em>5.16</em>% exercising, <em>1.29</em>% commuting and
                <em>1.25</em>% coding in my free time.
              </case>
            </switch>

          </p>
        </div>
      </div>
    </each>
  </div>
</div>