<div id="stats" class="stats color s01">
  <h1>Stats</h1>
  <p>
    Since early age I'm passionate about <em>statistics</em>, being
    spreadsheets one of my hobbies. <br />Here you have some cool stats
    about me. <i>(real time up to date)</i>
  </p>
  <div class="grid">
    <each loop="item in ['github', 'stackoverflow', 'car', 'airplane', 'map', 'profile']">
      <div data="{{ item }}">
        <div>
          <svg class="icon">
            <use xlink:href="#icon-{{ item }}"></use>
          </svg>
          <div class="loading"></div>
          <p style="opacity: 0;">

            <switch expression="item">
              <case n="'stackoverflow'">
                I have <em>9055</em> reputation points on <a href="//stackoverflow.com/users/1192479/promatik" target="_blank">StackOverflow</a>, <em>8</em> gold badges,
                <em>58</em> silver and <em>63</em> bronze. Actually, I was there <em>some minutes ago</em>.
              </case>

              <case n="'github'">
                On <a href="//github.com/promatik" target="_blank">GitHub</a>, I was starred <em>168</em> times, and forked
                <em>66</em>, all this spread over <em>52</em> public repos and
                <em>13</em> gists. <br />
                I belong to <em>8</em> organizations.
              </case>

              <case n="'car'">
                I drove <em>235 167</em> km, <br />spending a total of
                <em>3 793</em> hours driving, almost <em>1.32</em>% of my life.
              </case>

              <case n="'airplane'">
                I flew <em>113 215</em> km in <em>28</em> flights, <br />
                visiting <em>15</em> different countries, <em>4</em> continents,
                <em>13</em> islands, both hemispheres.
              </case>

              <case n="'map'">
                While living most of my time in Portugal, exactly
                <em>11 755</em> days, <br />
                I was <em>262</em> days abroad, nearly <em>2.18</em>% of my
                life, between working and traveling.
              </case>

              <case n="'profile'">
                Until now, I spent <em>35.07</em>% of my life sleeping,
                <em>7.88</em>% eating, <em>7.05</em>% working, <em>7.94</em>%
                studying, <em>5.46</em>% exercising, <em>1.39</em>% commuting and
                <em>1.02</em>% coding on my free time.
              </case>
            </switch>

          </p>
        </div>
      </div>
    </each>
  </div>
</div>